<figure role="group" class="{{ attrs.class }}">
    {% if url %}<a href="{{ url }}">{% endif %}
    <img {% for attr, value in attrs %}{{ attr ~ '="' ~ value ~ '" ' }}{% endfor %} />
    {% if url %}</a>{% endif %}
    {% if attrs.title %}
        <figcaption>
        {% if config.plugins.imgcaptions.markdown_title %}
            {{- attrs.title|markdown -}}
        {% else %}
            {{- attrs.title -}}
        {% endif %}
        </figcaption>
    {% else %}
        {# When title attribute is not defined, use the value of alt attribute of img element if defined #}
        {% if attrs.alt %}
            <figcaption>
            {% if config.plugins.imgcaptions.markdown_title %}
                {{- attrs.alt|markdown -}}
            {% else %}
                {{- attrs.alt -}}
            {% endif %}
            </figcaption>
        {% endif %}
    {% endif %}
</figure>
